aiofiles==0.8.0
fastapi==0.65.2
gunicorn
mysqlclient==2.1.0
pydantic==1.9.0
python-multipart==0.0.4
SQLAlchemy==1.4.36
sqlparse==0.4.2
starlette==0.14.2
urllib3==1.26.9
uvicorn==0.17.6
w3lib==1.22.0
Werkzeug==2.1.2
